@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}


body{
  background: #8087D8 ;
}


.container{
  min-height: 100vh;
}


.main{
  width: 85%;
  margin: 50% 100px;
  
}

.main h1{
  font-size: 45px;
  text-align: center;
  margin-bottom: 18px;
}

.main p{
  font-size: 30px;
  text-align: center;
  margin-bottom: 18px;
}

.main img{
  display: block;
  margin: auto;
  border-radius: 8px;
  margin-top: 18px;
  margin-bottom: 25px;
}

.main a{
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 28px;
  color: #FFFFFF;
}

